{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container my-md-5">
        <div class="row">
            <div class="d-md-flex">
                <h1 class="col text-center pb-5 fs-1">Your Online Grimoire</h1>
            </div>
        </div>
    </div>
    <div class="container my-md-5">
        <div class="row">
            <div class="d-md-flex">
                <p class="col text-center py-3 fs-5">"It's gonna get harder before it gets easier. But it will get better, you just gotta make it through the hard stuff first."</p>
            </div>
        </div>
    </div>
    <div class="m-lg-5">
        <div class="row col-md-8 gap-3 mx-auto">
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Dieties</button>
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Holidays</button>
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Ceremonies</button>
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Symbols</button>
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Herbs</button>
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Spells</button>
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Tools</button>
            <button class="col-md-4 btn-lg mx-auto home-nav-button">Journal</button>
        </div>
    </div>
</section>

{% endblock %}