{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container my-md-5">
        <div class="row">
            <div class="d-md-flex">
                <h1 class="col text-center pb-5 fs-1">Your Online Grimoire</h1>
            </div>
        </div>
    </div>
    <div class="container my-md-5">
        <div class="row">
            <div class="d-md-flex">
                <p class="col text-center py-3 fs-5">"It's gonna get harder before it gets easier. But it will get better, you just gotta make it through the hard stuff first."</p>
            </div>
        </div>
    </div>
    <div class="m-lg-5">
        <div class="row col-md-8 gap-3 mx-auto">
            <a href="{{ url_for('site.dieties') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Dieties</a>
            <a href="{{ url_for('site.holidays') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Holidays</a>
            <a href="{{ url_for('site.ceremonies') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Ceremonies</a>
            <a href="{{ url_for('site.symbols') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Symbols</a>
            <a href="{{ url_for('site.herbs') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Herbs</a>
            <a href="{{ url_for('site.spells') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Spells</a>
            <a href="{{ url_for('site.tools') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Tools</a>
            <a href="{{ url_for('site.journal') }}" 
                class="btn col-md-4 btn-lg mx-auto home-nav-button" 
                role="button">
                Journal</a>
        </div>
    </div>
</section>

{% endblock %}