{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container my-md-5">
        <div class="row">
            <div class="p-3">
                <h1 class="text-center my-3 display-1">My Grimoire</h1>
            </div>
            <div class="p-3">
                <h2 class="text-center mx-3 my-md-5 pb-5 display-3">Are you sure you want to log out?</h1>
                <form action="" class="d-flex justify-content-evenly my-5">
                    <a href="{{ url_for('auth.logout') }}" 
                        class="btn btn-secondary btn-lg" 
                        role="button">
                        Yes, log me out.</a>
                    <a role="button" class="btn btn-warning btn-lg" style="background-color:#D9920F; color:white;" href="home.html">Keep me signed in.</a>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}