<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/style.css">
<title>My Grimoire</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a href="{{ url_for('site.home') }}" class="navbar-brand order-1 order-lg-0 mx-lg-3">My Grimoire</a>
            {% if current_user.is_authenticated %}
            <button 
                class="navbar-toggler order-0 black" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navMenu" 
                aria-controls="navbarScroll" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse black" id="navMenu">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.dieties') }}" class="nav-link">Dieties</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.herbs') }}" class="nav-link">Herbs</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.spells') }}" class="nav-link">Spells</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.holidays') }}" class="nav-link">Holidays</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.ceremonies') }}" class="nav-link">Ceremonies</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.tools') }}" class="nav-link">Tools</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.symbols') }}" class="nav-link">Symbols</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="{{ url_for('site.journal') }}" class="nav-link">Journal</a>
                    </li>
                </ul>
            </div>
            <a href="{{ url_for('site.profile') }}" class="navbar-brand order-2 mx-lg-3">Me</a>
            {% else %}
            <div class="order-2">
                <a href="{{ url_for('auth.signin') }}" class="navbar-brand mx-lg-3">Sign In</a>
                <a href="{{ url_for('auth.signup') }}" class="navbar-brand mx-lg-3">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>